<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DATE} %highlight{%-5level} %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/ss.log" filePattern="logs/ss-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="%d{DATE} %level %msg%n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef level="warn" ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
